<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <div class="about content">
      <h2>About Us</h2>
      <p>My first blog - journey to coding is awesome</p>
      <p>My second blog - journey to coding is awesome</p>
      <p>My third blog - journey to coding is awesome</p>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
